<section class="container">
    <div class="modal">
        <button type="button" class="close" aria-label="fechar " (click)="onClickFecharModal()">fechar
        </button>
        <form action="" (ngSubmit)="editar()">
            <h2 class="titulo">Produtos</h2>
            <label for="fabricante">Nome do Produto</label>
            <input type="text"  placeholder="Digite o nome do produto" 
                [(ngModel)]="produtoEdicao.nome"
                name="nome"
                for="nome"
                >
            <label for="">Fabricantes</label>

            <select [(ngModel)]="fabricanteId" name="fabricanteId" (change)="onChange($event)">
                <option *ngFor="let obj of fabricantes" [value]="obj?.id">{{obj?.nome}}</option>
            </select>

            <select [(ngModel)]="categoriaId" name="categoriaId">
                <option *ngFor="let categoria of categorias" [value]="categoria?.id">{{categoria?.nome}}</option>
            </select>


            <input type="text" for="price" placeholder="Digite o preco do produto" [(ngModel)]="produtoEdicao.price"
                name="price">
            <button type="submit">Editar Produto</button>
        </form>
    </div>
</section>
<div class="overlay" (click)="onClickFecharModal()"></div>