header {
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-evenly;
}
a {
    color: blue;
    font-size: 20px;
}