<section class="container">
    <form action="" (ngSubmit)="criar()">
        <h2 class="titulo">Fabricante e categoria</h2>
        <label for="fabricante">Fabricante</label>
        <input type="text" for="nome" placeholder="Digite o nome do fabricante" [(ngModel)]="nome" name="nome">
        <label for="">Categoria</label>
        <input type="text" for="categoria1" placeholder="Digite o nome da categoria 1" [(ngModel)]="categoria1" name="categoria1">
        <input type="text" for="categoria2" placeholder="Digite o nome da categoria 2" [(ngModel)]="categoria2" name="categoria2">
        <input type="text" for="categoria3" placeholder="Digite o nome da categoria 3" [(ngModel)]="categoria3" name="categoria3">
        <button type="submit">Adicionar</button>
    </form>
</section>